.item {
  background-color:#07112A;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 18px;

  &__title {
    font-size: 1.2rem;
    font-family: "Prompt", sans-serif;
    color: #FFF;
    font-weight: 400;
  }

  &__text {
    font-size: 1rem;
    color: #A8AAB0;
    font-weight: 400;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;

    & li {
      display: flex;
      gap: 10px;
    }
  }
}