.hero-sec-center {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & h1 {
    font-weight: 500;
    font-family: "Prompt", sans-serif;
    color: #FFF;
    font-size: 3.5rem;
    max-width: 80%;
    text-align: center;
    margin: 0;
  }

  &__text {
    text-align: center;
    font-size: 1.1rem;
    width: 50%;
    @media (max-width: 1100px) {
        width: 100%;
      }
  }
}