.input {
  font-size: 1rem;
  color: #FFF;
  padding: 0.6rem;
  border-radius: 10px;
  width: 100%;

  &:focus-visible {
    outline: none;
  }
}

.transparent {
  background: transparent;
  border: solid 2px #E6E8EC;
}