.solution-title {
  margin-top: 70px;
  @media (max-width: 1100px) {
    margin-top: 0px;
  }
}
.solution-web-app {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;

  @media (max-width: 1100px) {
    flex-direction: column;
  }

  &__ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & h2 {
    width: 50%;

    @media (max-width: 1100px) {
      width: 100%;
    }
  }
  &__right {
    width: 42%;
    margin-top: 0px;
    position: relative;
    z-index: 2;

    @media (max-width: 1100px) {
      width: 100%;
      margin-top: 50px;
    }
  }
}
